<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="style.css">
    <title>login</title>
</head>
<body>
    <h1>Register</h1>

    <ul>
        <% if (typeof error != 'undefined') { %> 
            <% error.forEach(error => { %>
                <li><%= error.message %></li>
                <% }) %> 
                <% } %>
      </ul>

        <!-- if (typeof errors != 'undefined') {      
                    errors.forEach(error => {    
                 <li>     error.message   </li>
                })   
             }     -->

    <div>
        <form action="/users/register" method="post">
            <div>
                <input type="text" name="name" id="name" placeholder="Enter name" autocomplete="off" required>
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="Enter email">
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Enter password">
            </div>
            <div>
                <input type="password" name="password2" id="password2" placeholder="confirm password">
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
            <a href="/users/login">Already register? login here</a>
        </form>
    </div>
</body>
</html>